@font-face {
  font-family: "icon-one";
  src: url('icon-one.eot');
  src: url('icon-one.eot?#iefix') format('eot'),
    url('icon-one.woff2') format('woff2'),
    url('icon-one.woff') format('woff'),
    url('icon-one.ttf') format('truetype'),
    url('icon-one.svg#icon-one') format('svg');
  font-weight: normal;
  font-style: normal;
}

.one:before {
  display: inline-block;
  font-family: "icon-one";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.one-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.one-2x { font-size: 2em; }
.one-3x { font-size: 3em; }
.one-4x { font-size: 4em; }
.one-5x { font-size: 5em; }
.one-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.one-arrow-left:before { content: "\EA01" }
.one-arrow-right:before { content: "\EA02" }
.one-arrow-down:before { content: "\EA03" }
.one-km:before { content: "\EA04" }
.one-task:before { content: "\EA05" }
.one-project:before { content: "\EA06" }
.one-moreapp:before { content: "\EA07" }
.one-calendar:before { content: "\EA08" }
.one-analytics:before { content: "\EA09" }
.one-arrow-up:before { content: "\EA11" }
.one-edit:before { content: "\EA12" }
.one-trig-down:before { content: "\EA13" }
.one-trig-up:before { content: "\EA14" }
.one-arrow-next:before { content: "\EA15" }
.one-arrow-prev:before { content: "\EA16" }
.one-archive:before { content: "\EA17" }
.one-search:before { content: "\EA18" }
.one-close:before { content: "\EA19" }
.one-start-round:before { content: "\EA21" }
.one-flag:before { content: "\EA22" }
.one-clock:before { content: "\EA23" }
.one-user:before { content: "\EA24" }
.one-add-round:before { content: "\EA25" }
.one-add:before { content: "\EA26" }
.one-task-check:before { content: "\EA27" }
.one-return:before { content: "\EA28" }
.one-notification:before { content: "\EA29" }
.one-back:before { content: "\EA31" }
.one-checked:before { content: "\EA32" }
.one-done:before { content: "\EA33" }
.one-start:before { content: "\EA34" }
.one-notification-unread:before { content: "\EA35" }
.one-warning:before { content: "\EA36" }
.one-comment:before { content: "\EA37" }
.one-stop-round:before { content: "\EA38" }
.one-checkbox:before { content: "\EA39" }
.one-filetype-doc:before { content: "\EA41" }
.one-filetype-pdf:before { content: "\EA42" }
.one-filetype-folder:before { content: "\EA43" }
.one-filetype-video:before { content: "\EA44" }
.one-filetype-music:before { content: "\EA45" }
.one-filetype-zip:before { content: "\EA46" }
.one-filetype-image:before { content: "\EA47" }
.one-filetype-excel:before { content: "\EA48" }
.one-info:before { content: "\EA51" }
.one-alpha:before { content: "\EA52" }
.one-link:before { content: "\EA53" }
.one-dot:before { content: "\EA54" }
.one-filetype-ppt:before { content: "\EA55" }
.one-settings:before { content: "\EA56" }
.one-restore:before { content: "\EA57" }
.one-delete:before { content: "\EA58" }
.one-list:before { content: "\EA59" }
.one-company:before { content: "\EA61" }
.one-timer-hand:before { content: "\EA62" }
.one-timer-body:before { content: "\EA63" }
.one-timer:before { content: "\EA64" }
.one-list-add:before { content: "\EA65" }
.one-project-type4:before { content: "\EA66" }
.one-project-type3:before { content: "\EA67" }
.one-project-type2:before { content: "\EA68" }
.one-project-type1:before { content: "\EA69" }
.one-filter:before { content: "\EA71" }
.one-category:before { content: "\EA72" }
.one-process:before { content: "\EA73" }
.one-paper:before { content: "\EA74" }
.one-firm:before { content: "\EA75" }
.one-clerk:before { content: "\EA76" }
.one-judge:before { content: "\EA77" }
.one-lawyer:before { content: "\EA78" }
.one-team:before { content: "\EA79" }
.one-ilaw:before { content: "\EA81" }
.one-tools:before { content: "\EA82" }
.one-customer:before { content: "\EA83" }
.one-hr:before { content: "\EA84" }
.one-add-fill:before { content: "\EA85" }
.one-minus-fill:before { content: "\EA86" }
.one-checkmark:before { content: "\EA87" }
.one-stop:before { content: "\EA88" }
.one-download:before { content: "\EA89" }
.one-share:before { content: "\EA91" }
.one-location:before { content: "\EA92" }
.one-phone:before { content: "\EA93" }
.one-email:before { content: "\EA94" }
.one-user-female:before { content: "\EA95" }
.one-smart:before { content: "\EA96" }
.one-logout:before { content: "\EA97" }
.one-chart-bar:before { content: "\EA98" }
.one-chart-line:before { content: "\EA99" }
.one-minus-round:before { content: "\EB01" }
.one-chart-pie:before { content: "\EB02" }
.one-chart-map:before { content: "\EB03" }
.one-customer-service:before { content: "\EB04" }
.one-marker:before { content: "\EB05" }
.one-copy:before { content: "\EB06" }
.one-star:before { content: "\EB07" }
.one-star-fill:before { content: "\EB08" }
.one-heart:before { content: "\EB09" }
.one-pin:before { content: "\EB11" }
.one-required:before { content: "\EB12" }
.one-customer-surprise:before { content: "\EB13" }
.one-text:before { content: "\EB14" }
.one-field-casade:before { content: "\EB15" }
.one-insert:before { content: "\EB16" }
.one-case:before { content: "\EB17" }
.one-attachment:before { content: "\EB18" }
.one-heart-fill:before { content: "\EB19" }
.one-trig-right:before { content: "\EB21" }
.one-trig-left:before { content: "\EB22" }
.one-bold:before { content: "\EB23" }
.one-italic:before { content: "\EB24" }
.one-underline:before { content: "\EB25" }
.one-plus-square:before { content: "\EB26" }
.one-minus-square:before { content: "\EB27" }
.one-chart-bar-h:before { content: "\EB28" }
.one-task-pad:before { content: "\EB29" }
.one-schedule:before { content: "\EB31" }
.one-upload:before { content: "\EB32" }
.one-tag:before { content: "\EB33" }
.one-sort:before { content: "\EB34" }
.one-more:before { content: "\EB35" }
.one-side-column:before { content: "\EB36" }
.one-window-fullscreen:before { content: "\EB37" }
.one-mute:before { content: "\EB38" }
.one-locked:before { content: "\EB39" }
.one-spanner:before { content: "\EB41" }
.one-alarm:before { content: "\EB42" }
.one-loop:before { content: "\EB43" }
.one-unlocked:before { content: "\EB44" }
.one-memo:before { content: "\EB45" }
.one-ellipses:before { content: "\EB46" }
.one-partial-select:before { content: "\EB47" }
.one-question:before { content: "\EB48" }
.one-permission:before { content: "\EB49" }
.one-refresh:before { content: "\EB51" }
.one-emoji:before { content: "\EB52" }
.one-snap:before { content: "\EB53" }
.one-move:before { content: "\EB54" }
.one-thumbnail:before { content: "\EB55" }
.one-openproject:before { content: "\EB56" }
.one-notebook:before { content: "\EB57" }
.one-approved:before { content: "\EB58" }
.one-reject:before { content: "\EB59" }
.one-textnote:before { content: "\EB61" }
.one-mindnode:before { content: "\EB62" }
.one-approve-stamp:before { content: "\EB63" }
.one-approve-Invoice:before { content: "\EB64" }
.one-approve-reimburse:before { content: "\EB65" }
.one-board:before { content: "\EB66" }
.one-vault:before { content: "\EB67" }
.one-view:before { content: "\EB68" }
.one-key-enter:before { content: "\EB69" }
.one-key-shift:before { content: "\EB71" }
.one-shared:before { content: "\EB72" }
.one-video:before { content: "\EB73" }
.one-percent:before { content: "\EB74" }
.one-number:before { content: "\EB75" }
.one-trash-empty:before { content: "\EB76" }
.one-regulation:before { content: "\EB77" }
.one-vault-readonly:before { content: "\EB78" }
.one-vault-locked:before { content: "\EB79" }
.one-faq:before { content: "\EB81" }
.one-subscribe:before { content: "\EB82" }
.one-indent:before { content: "\EB83" }
.one-align-center:before { content: "\EB84" }
.one-pic:before { content: "\EB85" }
.one-checked-line:before { content: "\EB86" }
.one-linethrough:before { content: "\EB87" }
.one-quote:before { content: "\EB88" }
.one-import:before { content: "\EB89" }
.one-calculator:before { content: "\EB91" }
.one-clause:before { content: "\EB92" }
.one-fullpage:before { content: "\EB93" }
.one-addtobookmark:before { content: "\EB94" }
.one-report:before { content: "\EB95" }
.one-approve-flow:before { content: "\EB96" }
.one-judicial:before { content: "\EB97" }
.one-database:before { content: "\EB98" }
.one-contract:before { content: "\EB99" }
.one-unapprove:before { content: "\EC01" }
.one-alignment-left:before { content: "\EC02" }
.one-alignment-right:before { content: "\EC03" }
.one-alignment-both:before { content: "\EC04" }
.one-grade:before { content: "\EC05" }
.one-follower:before { content: "\EC06" }
.one-task-autodone:before { content: "\EC07" }
.one-task-autodone-List:before { content: "\EC08" }
.one-invisible:before { content: "\EC09" }
.one-filter-line:before { content: "\EC10" }
.one-folder-line:before { content: "\EC11" }
.one-kanban:before { content: "\EC12" }
.one-rdefault-selected:before { content: "\EC13" }
.one-database-outline:before { content: "\EC14" }
.one-custom:before { content: "\EC15" }
.one-system:before { content: "\EC16" }
.one-strickout:before { content: "\EC17" }
.one-sidebar-notification:before { content: "\EC18" }
.one-sidebar-at:before { content: "\EC19" }
.one-sidebar-research:before { content: "\EC20" }
.one-sidebar-add-task:before { content: "\EC21" }
.one-sidebar-timer:before { content: "\EC22" }
.one-sidebar-timer-stop:before { content: "\EC23" }
.one-financial:before { content: "\EC24" }
.one-customer-service-for-sidebar:before { content: "\EC25" }
.one-Detail:before { content: "\EC26" }
.one-new-comment:before { content: "\EC27" }
.one-zoom-out:before { content: "\EC28" }
.one-zoom-in:before { content: "\EC29" }
.one-print:before { content: "\EC30" }
.one-fullScreen:before { content: "\EC31" }
.one-defaultScreen:before { content: "\EC32" }
.one-new-download:before { content: "\EC33" }
.one-wechat:before { content: "\EC34" }
.one-sidebar-empty-timer:before { content: "\EC35" }
.one-keynote:before { content: "\EC36" }
.one-numbers:before { content: "\EC37" }
.one-pages:before { content: "\EC38" }
.one-home:before { content: "\EC39" }
.one-folder:before { content: "\EC40" }
.one-picker:before { content: "\EC41" }
.one-speaker:before { content: "\EC42" }
.one-bigdata-share:before { content: "\EC43" }
.one-bigdata-download:before { content: "\EC44" }
.one-bigdata-list:before { content: "\EC45" }
.one-bigdata-visualization:before { content: "\EC46" }
.one-bigdata-area-diagram:before { content: "\EC47" }
.one-bigdata-annular:before { content: "\EC48" }
.one-bigdata-biaxial-graph:before { content: "\EC49" }
.one-bigdata-form:before { content: "\EC50" }
.one-h1:before { content: "\EC51" }
.one-h2:before { content: "\EC52" }
.one-legal-questions-answers:before { content: "\EC53" }
.one-live:before { content: "\EC54" }
.one-replace:before { content: "\EC55" }
.one-printline:before { content: "\EC56" }
.one-counsellor:before { content: "\EC57" }
.one-intelligent-chart-bar:before { content: "\EC58" }
.one-mobile-share:before { content: "\EC59" }
.one-legal-finance-regulations:before { content: "\EC60" }
.one-legal-court-decisions:before { content: "\EC61" }
.one-legal-punish:before { content: "\EC62" }
.one-legal-dynamic:before { content: "\EC63" }
.one-invoice-general :before { content: "\EC64" }
.one-invoice-electronic :before { content: "\EC65" }
.one-invoice-special:before { content: "\EC66" }
.one-invoice-waste:before { content: "\EC67" }
.one-contacts:before { content: "\EE01" }
.one-upload-folder:before { content: "\EE02" }
.one-menu-case:before { content: "\EE03" }
.one-menu-folder:before { content: "\EE04" }
.one-menu-evidence:before { content: "\EE05" }
.one-menu-clerk:before { content: "\EE06" }
.one-change:before { content: "\EE07" }
.one-clean:before { content: "\EE08" }
.one-rotation:before { content: "\EE09" }
.one-userlist:before { content: "\EE10" }
.one-document:before { content: "\EE11" }
.one-find:before { content: "\EE12" }
.one-drag:before { content: "\EE13" }
.one-switch:before { content: "\EE14" }
.one-bar-close:before { content: "\EE15" }
.one-scan:before { content: "\EE16" }
.one-choice:before { content: "\EE17" }
.one-counsel-service:before { content: "\EE18" }
.one-counsel-number:before { content: "\EE19" }
.one-counsel-flow:before { content: "\EE20" }
.one-checked-circle:before { content: "\EE21" }
.one-work-stage:before { content: "\EE22" }
.one-code:before { content: "\EE23" }
.one-h3:before { content: "\EE24" }
.one-h4:before { content: "\EE25" }
.one-h5:before { content: "\EE26" }
.one-h6:before { content: "\EE27" }
.one-body:before { content: "\EE28" }
.one-bullet-list:before { content: "\EE29" }
.one-numbered-list:before { content: "\EE30" }
.one-blockquotes:before { content: "\EE31" }
.one-table:before { content: "\EE32" }
.one-finish:before { content: "\EE33" }
.one-module:before { content: "\EE34" }
.one-create-folder:before { content: "\EE35" }
.one-move-to-folder:before { content: "\EE36" }
.one-undo:before { content: "\EE37" }
.one-redo:before { content: "\EE38" }
.one-todo:before { content: "\EE39" }
.one-member:before { content: "\EE40" }
.one-organization:before { content: "\EE41" }
.one-performance:before { content: "\EE42" }
.one-salary:before { content: "\EE43" }
.one-new-archive:before { content: "\EE44" }
.one-talent:before { content: "\EE45" }
.one-d-coin:before { content: "\EE46" }
.one-camera:before { content: "\EE47" }
.one-scan-code:before { content: "\EE48" }
.one-qr-code:before { content: "\EE49" }
.one-file-convert:before { content: "\EE50" }
.one-file-Contrast:before { content: "\EE51" }
.one- :before { content: "\EA0A" }
